 /* #region BASE */
 /** скидання дефолтних стилів */

 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }

 /** обнуляємо дефолтні відступи */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 /** прибираємо підчеркування всіх посилань */
 a {
     text-decoration: none;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 button {
     cursor: pointer;
 }

 /** притиcкаєм FOOTER до низу сторінки */
 /*  дозволяє сектору main займати все вільне місце на головній осі відсуваючи «футер» у її кінець */
 main {
     flex-grow: 1;
 }

 /** + потрібно задати ще одну властивість для main (задав вижче)*/
 .page-container {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 /** прибираємо маркери у списках*/
 /** обнуляємо дефолтні відступи */
 ul,
 ol {
     list-style-type: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

 /** прихований заголовок */
 /** обнуляємо дефолтні відступи */
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 /*! ТИМЧАСОВИЙ КЛАС ДЛЯ ПРИХОВУВАННЯ СЕКЦІЙ, щоб не зажали при роботі. в кінці роботи класи hidden у секція забрати та стилі видалити */
 .hidden {
     display: none;
 }

 /* #endregion */

 /* #region Common Styles */

 /** стилі контейнера для мобверсії сторінки */
 .container {
     width: 320px;
     padding: 0 16px;
     margin: 0 auto;
 }

 /** стилі контейнера для планшетної версії сторінки, прописуються лише ті стилі які потрібно перевизначити */
 @media only screen and (min-width: 768px) {
     .container {
         width: 768px;
     }
 }

 /** стилі контейнера для десктопної версії сторінки, прописуються лише ті стилі, які потрібно перевизначити */
 @media only screen and (min-width: 1158px) {
     .container {
         width: 1158px;
         padding: 0 15px;
     }
 }

 .features,
 .team,
 .portfolio {
     padding: 96px 0;
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {

     .features,
     .team,
     .portfolio {
         padding: 120px 0;
     }

 }



 /* #endregion */

 /* #region HEADER */

 .header {
     background: #FFFFFF;
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }

 .header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .header-menu-list,
 .header-address {
     display: none;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }

 .header-logo {
     display: block;
     padding-top: 16px;
     padding-bottom: 16px;
 }

 .logo-part {
     color: #2e2f42;
 }

 .burger-btn {
     padding: 0;
     border: none;
     background-color: transparent;
 }

 .burger-icon {
     display: block;
     fill: #2f2f37;
 }

 /** tables */
 @media only screen and (min-width: 768px) {
     .burger-btn {
         display: none;
     }

     .header-navigation {
         display: flex;
         align-items: center;
     }

     .header-menu-list {
         display: flex;
         gap: 40px;
     }

     .header-logo {
         padding-top: 24px;
         padding-bottom: 24px;
         margin-right: 120px;
     }

     /** інтерактивні посилання в спокійному стані */
     .header-menu-link {
         position: relative;
         display: block;
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #2e2f42;
         padding-top: 24px;
         padding-bottom: 24px;

         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .header-menu-link::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: -1px;
         width: 100%;
         height: 4px;
         border-radius: 2px;
         background-color: #404bbf;
         opacity: 0;
         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
         transition-property: opacity;
     }

     .header-address-list {
         display: flex;
         flex-direction: column;
         gap: 12px;
     }

     /**інтерактивні посилання в спокійному стані*/
     .header-address-link {
         display: block;
         font-size: 12px;
         line-height: 1.17;
         letter-spacing: 0.04em;
         color: #434455;


         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
         transition-property: color;
     }

     /** інтерактивні елементи (посилання) в активному стані */
     .header-menu-link:hover,
     .header-menu-link:focus,
     .header-menu-link.current,
     .header-address-link:hover,
     .header-address-link:focus {
         color: #404BBF;
     }

     .header-menu-link:hover::after,
     .header-menu-link:focus::after,
     .header-menu-link.current::after {
         opacity: 1;
     }

     .header-address {
         font-style: normal;
         display: block;
     }
 }

 /** DESCKTOP */
 @media only screen and (min-width: 1158px) {
     .header-logo {
         margin-right: 76px;
     }

     .header-address-list {
         flex-direction: row;
         align-items: center;
         gap: 40px;
     }

     /**інтерактивні посилання в спокійному стані*/
     .header-address-link {
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         padding-top: 24px;
         padding-bottom: 24px;
     }
 }

 /* * MOBILE MENU */

 .mobile-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #FFF;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;

     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .mobile-menu-cotainer {
     position: relative;
     padding-top: 72px;
     padding-right: 24px;
     padding-bottom: 40px;
     padding-left: 16px;

     display: flex;
     flex-direction: column;
     height: 100%;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: transform;
 }

 /* клас що нижче означає - коли у класа .mobile-menu немає (:not) класу .is-open, то для класу mobile-menu-cotainer застосовуються такі стилі  */
 .mobile-menu:not(.is-open) .mobile-menu-cotainer {
     transform: translate(50%, 50%) scale(1.5);
 }

 .mobile-menu-close {
     position: absolute;
     top: 24px;
     right: 24px;

     display: flex;
     justify-content: center;
     align-items: center;

     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 0;

     background-color: transparent;
     border: 1px solid #e7e9fc;
 }

 .modal-icon-btn {}

 .mobile-menu-nav {
     margin-bottom: auto;
 }

 .mobile-menu-list {
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     gap: 40px;
 }

 .mobile-menu-item {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     color: #2e2f42;
     text-align: center;
 }

 .mobile-menu-link-inner {
     color: #404bbf;
 }

 .mobile-address {}

 .mobile-address-list {
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     gap: 24px;
     margin-bottom: 48px;
 }

 .mobile-address-item {}

 .mobile-address-link {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #434455;
     font-style: normal;
 }

 .mobile-address-link-inner {
     color: #4d5ae5;
 }

 .mobile-socials-list {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     gap: 40px;
 }

 .mobile-socials-item {}

 .mobile-socials-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #4d5ae5;
 }

 .icon {
     fill: #f4f4fd;
 }

 /* for table */
 @media only screen and (min-width: 768px) {
     .mobile-menu {
         display: none;
     }
 }

 /* #endregion */

 /* #region HERO */
 /** ------HERO-------- */

 /* background For mobile */
 .hero {
     background-color: #2E2F42;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_mob.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     padding: 72px 0;
     max-width: 320px;
     margin: 0 auto;
 }

 /*  RETINA background For mobile */

 @media (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_mob@2x.jpg);
     }
 }

 /* background For tablet  */
 @media only screen and (min-width: 768px) {
     .hero {
         max-width: 768px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_tab.jpg);
     }
 }

 /*  RETINA background For tablet */
 @media only screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_tab@2x.jpg);
     }
 }

 /* background For desktop */
 @media only screen and (min-width: 1158px) {
     .hero {
         max-width: 1440px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_desk.jpg);
     }
 }

 /* RETINA background For desktop  */
 @media only screen and (min-width: 1158px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-people-office_desk@2x.jpg);
     }
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {
     .hero {
         padding: 112px 0;
     }
 }

 /* For desktop and more */
 @media only screen and (min-width: 1158px) {
     .hero {
         padding: 188px 0;
     }
 }

 .hero-title {

     color: #fff;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;

     max-width: 216px;
     margin: 0 auto;
     margin-bottom: 72px;
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {
     .hero-title {
         max-width: 496px;
         font-size: 56px;
         line-height: 1.07;
         margin-bottom: 36px;
     }
 }

 /* For desktop */
 @media only screen and (min-width: 1158px) {
     .hero-title {
         margin-bottom: 48px;
     }
 }

 .hero-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     background-color: #4D5AE5;


     display: block;
     padding: 16px 32px;
     border: none;
     margin: 0 auto;
     min-width: 169px;
     min-height: 56px;
     border-radius: 4px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color;
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {

     /** ефекти інтерактивний елемент (кнопка) */
     .hero-btn:hover,
     .hero-btn:focus {
         background-color: #404BBF;
     }
 }

 /* #endregion */

 /* #region FEATURES */
 /** section 1 features */

 /* For mobile */
 .features-list {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 72px;
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {
     .features-list {
         flex-direction: row;
         column-gap: 24px;
     }
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {
     .features-item {
         width: calc((100% - 24px) / 2);
     }
 }

 /* For desktop */
 @media only screen and (min-width: 1158px) {
     .features-item {
         width: calc((100% - 72px) / 4);
     }
 }


 /* For mobile, table */
 .icon-svg {
     display: none;
 }

 /* For desktop*/
 @media only screen and (min-width: 1158px) {
     .icon-svg {
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1px solid #8e8f99;
         border-radius: 4px;
         width: 264px;
         height: 112px;
         background: #f4f4fd;
         margin-bottom: 8px;
     }
 }

 /* For mobile */
 .features-subtitle {
     margin-bottom: 8px;

     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
 }

 /* For tablet */
 @media only screen and (min-width: 768px) {
     .features-subtitle {
         text-align: start;
     }
 }

 /* For desktop*/
 @media only screen and (min-width: 1158px) {
     .features-subtitle {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
     }
 }

 /* For mobile, table */
 .features-text {
     font-weight: 500;
     font-size: 16px;
     letter-spacing: 0.02em;
     line-height: 1.5;
     color: #434455;
 }

 /* For desktop*/
 @media only screen and (min-width: 1158px) {
     .features-text {
         font-weight: 400;
     }
 }

 /* #endregion */

 /* #region TEAM */
 /*! -------------team------------ */
 /* Common */
 .team {
     background: #F4F4FD;
 }

 .team-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 /* for mobile */
 .team-list {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 72px;
 }

 /* for table descktop*/
 @media only screen and (min-width: 768px) {
     .team-list {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 64px 24px;
     }
 }

 /* Common */
 .team-item {
     max-width: 264px;
     background-color: #FFFFFF;
     border-radius: 0 0 4px 4px;
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 /* For desktop */
 @media only screen and (min-width: 1158px) {
     .team-item {
         width: calc((100% - 72px) / 4);
     }
 }

 /* Common */
 .team-bottom {
     padding: 32px 0;
     text-align: center;
 }

 .team-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .team-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .socials-list {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     gap: 24px;
     margin-top: 8px;
 }

 .socials-item {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #4d5ae5;
     border-radius: 50%;
     width: 40px;
     height: 40px;
 }

 .socials-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: #4d5ae5;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color;
 }

 .icon {
     fill: #f4f4fd;
 }

 .socials-link:hover,
 .socials-link:focus {
     background-color: #404BBF;
 }

 /* #endregion */


 /* #region PORTFOLIO */
 /*! ---------portfolio------------------- */
 /* Common */
 .portfolio-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 /* forr mobile */
 .portfolio-list {
     display: flex;
     flex-direction: column;
     gap: 48px;
 }

 /* For tablet descktop*/
 @media only screen and (min-width: 768px) {
     .portfolio-list {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 72px 24px;
     }
 }

 /* For mobile */
 .portfolio-item {
     box-shadow:
         0 2px 1px 0 rgba(46, 47, 66, 0.08),
         0 1px 1px 0 rgba(46, 47, 66, 0.16),
         0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 /* for table */
 @media only screen and (min-width: 768px) {
     .portfolio-item {
         width: calc((100% - 24px) / 2);
         box-shadow:
             0 1px 6px 0 rgba(46, 47, 66, 0.08);
     }
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .portfolio-item {
         width: calc((100% - 2 * 24px) / 3);
         transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .portfolio-item:hover {
         box-shadow:
             0 2px 1px 0 rgba(46, 47, 66, 0.08),
             0 1px 1px 0 rgba(46, 47, 66, 0.16),
             0 1px 6px 0 rgba(46, 47, 66, 0.08);
     }
 }

 /* for mobile, table */
 @media only screen and (max-width: 1157px) {
     .overlay {
         display: none;
     }
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .portfolio-wrapper {
         position: relative;
         overflow: hidden;
     }

     .overlay {
         position: absolute;
         top: 0;
         left: 0;
         transform: translateY(100%);
         width: 100%;
         height: 100%;

         display: flex;
         align-items: center;
         padding: 40px 32px;

         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #f4f4fd;
         background: #4d5ae5;

         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .portfolio-item:hover .overlay {
         transform: translateY(0);
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
         background: #4d5ae5;
     }
 }

 /* Common */
 .portfolio-bottom {
     width: 100%;
     padding: 32px 16px;
     border: 1px solid #E7E9FC;
     border-top: none;
 }

 .portfolio-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .portfolio-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 /* #endregion */

 /* #region FOOTER */
 /*! -------------FOOTER------------ */
 /* for mobile table */
 .footer {
     background: #2E2F42;
     padding: 96px 0;
 }

 @media only screen and (min-width: 1158px) {
     .footer {
         padding: 100px 0;
     }
 }

 /* for mobile */
 .footer-container {
     display: flex;
     flex-direction: column;
     gap: 72px;
     align-items: center;
     text-align: center;
 }

 /* for table */
 @media only screen and (min-width: 768px) and (max-width: 1157px) {
     .footer-container {
         padding: 0 108px;
     }
 }

 /* For tablet and more */
 @media only screen and (min-width: 768px) {
     .footer-container {
         flex-direction: row;
         flex-wrap: wrap;
         align-items: baseline;
         gap: 72px 24px;
         text-align: left;

     }
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .footer-container {
         gap: 0;
     }
 }

 /* Common */
 .footer-logo-box {
     display: block;
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .footer-logo-box {
         margin-right: 120px;
     }
 }

 /* Common */
 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     display: inline-block;
     margin-bottom: 16px;
 }

 .footer-logo-inner {
     color: #f4f4fd;
 }

 .footer-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     max-width: 264px;
 }

 /* for table descktop */
 @media only screen and (min-width: 768px) {
     .footer-text {
         max-width: 264px;
     }
 }

 /* Common */
 .footer-socials-container {
     display: block;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 208px;
 }

 .footer-subtitle {
     display: inline-block;
     margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
 }

 .footer-socials-list {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap: 16px;
 }

 .footer-socials-item {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #4d5ae5;
     border-radius: 50%;
     width: 40px;
     height: 40px;
 }

 .footer-socials-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: #4D5AE5;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color;
 }

 .footer-icon {
     fill: #F4F4FD;
 }

 .footer-socials-link:hover,
 .footer-socials-link:focus {
     background-color: #31D0AA;
 }

 /* for mobile */
 .footer-form-wrap {
     margin-left: auto;
     width: 288px;
     height: 136px;
 }

 /* for table */
 @media only screen and (min-width: 768px) {
     .footer-form-wrap {
         margin-left: 0;
         width: 453px;
         height: 80px;
     }
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .footer-form-wrap {
         margin-left: 80px;
     }
 }

 /* for mobile */
 .footer-form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 16px;
 }

 /* for table */
 @media only screen and (min-width: 768px) {
     .footer-form {
         gap: 16px 24px;
     }
 }

 /* for descktop */
 @media only screen and (min-width: 1158px) {
     .footer-form {
         gap: 24px;
     }
 }

 /* for mobile */
 .footer-form-input {
     border: 1px solid #fff;
     border-radius: 4px;
     width: 288px;
     height: 40px;

     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     opacity: 0.3;

     padding-left: 16px;

     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     color: #fff;
     background-color: transparent;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: border-color;
 }

 /* for table descktop */
 @media only screen and (min-width: 768px) {
     .footer-form-input {
         width: 264px;
         height: 40px;
     }
 }

 /* Common */
 .footer-form-input:hover,
 .footer-form-input:focus {
     border-color: #31D0AA;
 }

 .footer-form-input::placeholder {
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     color: #fff;
 }

 .footer-form-button {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;

     background-color: #4D5AE5;

     border-radius: 4px;
     min-width: 165px;
     height: 40px;

     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     text-align: center;
     color: #fff;
     border: none;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color;
 }

 .footer-form-button:hover,
 .footer-form-button:focus {
     background-color: #31D0AA;
 }

 .footer-button-icon {
     margin-left: 16px;
     fill: #FFFFFF;
 }

 /* #endregion */

 /* #region MODAL WINDOW */
 /*! ---MODAL WINDOW--- */

 /* COMMON */
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);

     opacity: 0;
     visibility: hidden;
     pointer-events: none;

     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 /* for mobile */
 .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 72px 16px 24px;
     width: 288px;
     min-height: 623px;

     box-shadow:
         0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 2px 1px rgba(0, 0, 0, 0.2);
     background-color: #fcfcfc;
     border-radius: 4px;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: transform;
 }

 /* for table */
 @media only screen and (min-width: 768px) {
     .modal {
         padding: 72px 24px 24px;
         width: 408px;
         min-height: 584px;
     }
 }

 /* common */
 /* клас що нижче означає - коли у класа .backdrop немає (:not) класу (.is-open), то для класу .modal застосовуються такі стилі  */
 .backdrop:not(.is-open) .modal {
     transform: translate(-50%, -50%) scale(1.5);
 }

 /* common */
 .modal-btn-close {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;

     top: 24px;
     right: 24px;

     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 0;
     border: 1px solid rgba(0, 0, 0, 0.1);

     transition:
         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-btn-close:hover,
 .modal-btn-close:focus {
     background-color: #404bbf;
     border: none;
     fill: #fff;
 }

 .modal-icon-btn {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-icon-btn:hover,
 .modal-icon-btn:focus {
     fill: #fff;
 }

 .modal-text {
     margin-bottom: 16px;
     text-align: center;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.50;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
 }

 /*! FORM */
 /* COMMON */
 .modal-form {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .modal-form-field {
     width: 100%;
     margin-bottom: 8px;
 }

 .modal-form-field:nth-child(4) {
     margin-bottom: 16px;
 }


 .modal-form-label {
     display: block;
     margin-bottom: 4px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
 }

 .input-wrap {
     position: relative;
 }

 .modal-form-input {
     padding-left: 34px;
     padding-right: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     width: 100%;
     height: 40px;
     background-color: transparent;
     outline: transparent;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: border-color;
 }

 .modal-form-input:not(:last-child):focus {
     padding-left: 38px;
 }

 .modal-form-input:hover,
 .modal-form-input:focus {
     border-color: #4d5ae5;
 }


 /* селектор сусіда */
 .modal-form-input:focus+.modal-icon {
     fill: #4d5ae5;
 }

 .modal-icon {
     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);

     fill: #2e2f42;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-textarea {
     padding: 8px 16px;
     height: 120px;
     resize: none;

     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     opacity: 0.5;
 }

 .modal-form-textarea::placeholder {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
 }

 .modal-checkbox-wrapper {
     margin-bottom: 24px;
 }

 .modal-check-text {
     display: flex;
     align-items: center;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: color, line-height, text-decoration;
 }

 /* mobile */
 .modal-check-span {
     margin-right: 7.5px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: transparent;
     flex-shrink: 0;

     width: 16px;
     height: 16px;
     border-radius: 2px;
     border: 1px solid rgba(46, 47, 66, 0.4);

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color, border, fill;

     cursor: pointer;
 }

 /* for table descktop */
 @media only screen and (min-width: 768px) {
     .modal-check-span {
         margin-right: 8px;
     }
 }

 /* common */


 .modal-check:checked+.modal-check-text .modal-check-span {
     background-color: #404bbf;
     fill: #f4f4fd;
     border: none;
 }

 .modal-check:focus-visible+.modal-check-text .modal-check-span {
     outline: 1px solid #404bbf;
 }

 .modal-check-link {
     line-height: 1.33;
     text-decoration: underline;
     text-decoration-skip-ink: none;
     color: #4d5ae5;
 }

 .modal-form-button {
     border-radius: 4px;
     padding: 16px 32px;
     min-width: 169px;
     height: 56px;
     border: none;

     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     text-align: center;
     color: #fff;

     display: block;
     margin: 0 auto;

     box-shadow:
         0 4px 4px 0 rgba(0, 0, 0, 0.15);
     background: #4d5ae5;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-button:hover,
 .modal-form-button:focus {
     box-shadow:
         0 4px 4px 0 rgba(0, 0, 0, 0.15);
     background: #404bbf;
 }

 /* #endregion */