    /* #region BASE */

    body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
    }

    /*  дозволяє сектору main займати все вільне місце на головній осі відсуваючи «футер» у її кінець */
    main {
        flex-grow: 1;
    }

    /*! обнуляємо дефолтні відступи */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*! прибираємо підчеркування всіх посилань */
    a {
        text-decoration: none;
    }

    img {
        display: block;
    }

    /*! притиcкаєм FOOTER до низу сторінки */
    /* + потрібно задати ще одну властивість для main (задав вверху сss-правил)*/
    .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /*! прибираємо маркери у списках*/
    /*! обнуляємо дефолтні відступи */
    ul,
    ol {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    /*! ширина та падінги для контейнера */
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    /*! прихований заголовок */
    /*! обнуляємо дефолтні відступи */
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    /* #endregion */

    /* #region Common Styles */
    .features,
    .team,
    .portfolio {
        padding: 120px 0;
    }

    /* #endregion */

    /* #region HEADER */

    .header {
        background: #FFFFFF;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }

    .page-header {}

    .header .container {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
        /* flex-grow: 1; */
    }

    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 76px;
    }

    .header-logo-inner {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;
    }

    .header-menu-item {}

    /*! інтерактивні посилання в спокійному стані */
    .header-menu-link {
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
        opacity: 0;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: opacity;
    }

    .header-menu-link:hover::after,
    .header-menu-link:focus::after,
    .header-menu-link.current::after {
        opacity: 1;
    }

    /*! інтерактивні елементи (посилання) */
    .header-menu-link:hover,
    .header-menu-link:focus,
    .header-menu-link.current {
        color: #404BBF;
    }

    .header-address {
        font-style: normal;
        margin-left: auto;
    }

    .header-address-list {
        display: flex;
        gap: 40px;
    }

    .header-address-item {}

    /*!інтерактивні посилання в спокійному стані*/
    .header-address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
        padding-bottom: 24px;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    /*! інтерактивні елементи (посилання) в активному стані */
    .header-address-link:hover,
    .header-address-link:focus {
        color: #404BBF;
    }

    /* #endregion */

    /* #region HERO  */
    /*! ------HERO-------- */

    .hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-people-office.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: auto;
    }

    .hero-title {
        color: #fff;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .hero-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        cursor: pointer;
        display: block;
        padding: 16px 32px;
        border: none;
        margin: 0 auto;
        min-width: 169px;
        min-height: 56px;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    }

    /*! інтерактивний елемент (кнопка) */
    .hero-btn:hover,
    .hero-btn:focus {
        background-color: #404BBF;
    }

    /* #endregion */

    /* #region features  */
    /*! ----------------features--------- */
    .features {
        background: #fff;
    }

    .features-list {
        display: flex;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }

    .icon {}

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    /* #endregion */

    /* #region team  */
    /*! -------------team------------ */
    .team {
        background: #F4F4FD;
    }

    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-item {
        background-color: #FFFFFF;
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .team-img {}

    .team-bottom {
        padding: 32px 0;

    }

    .team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 8px;
        /* padding-bottom: 8px; */
    }

    .team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }

    .socials-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        margin-top: 8px;
    }

    .socials-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    }

    .icon {
        fill: #f4f4fd;
    }

    .socials-link:hover,
    .socials-link:focus {
        background-color: #404BBF;
    }

    /* #endregion */

    /* #region portfolio */
    /*! ---------portfolio------------------- */
    .portfolio {
        background: #fff;
    }

    .portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

    .portfolio-wrapper {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        padding: 40px 32px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background: #4d5ae5;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .overlay {
        transform: translateY(0);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #4d5ae5;
    }

    .portfolio-img {}

    .portfolio-bottom {
        padding: 32px 16px;
        border: 1px solid #E7E9FC;
        border-top: none;
    }

    .portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    /* #endregion */

    /* #region FOOTER */
    /*! -------------FOOTER------------ */
    .footer {
        background: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-logo-box {
        display: block;
        margin-right: 120px;
    }

    .footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-logo-inner {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
    }

    .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
    }

    .footer-socials-container {
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 208px;
    }

    .footer-subtitle {
        display: inline-block;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    }

    .footer-socials-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }

    .footer-socials-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .footer-socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    }

    .footer-icon {
        fill: #F4F4FD;
    }

    .footer-socials-link:hover,
    .footer-socials-link:focus {
        background-color: #31D0AA;
    }

    .footer-form-wrap {
        margin-left: auto;
        width: 453px;
        height: 80px;
    }

    .footer-subtitle {}

    .footer-form {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .footer-form-label {}

    .footer-form-input {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
    }

    .footer-form-input:hover,
    .footer-form-input:focus {
        border-color: #31D0AA;
    }

    .footer-form-input::placeholder {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
    }

    .footer-form-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        background-color: #4D5AE5;

        border-radius: 4px;
        min-width: 165px;
        height: 40px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        cursor: pointer;
        border: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    }

    .footer-form-button:hover,
    .footer-form-button:focus {
        background-color: #31D0AA;
    }

    .footer-button-icon {
        margin-left: 16px;
        fill: #FFFFFF;
    }

    /* #endregion */

    /* #region MODAL WINDOW */
    /*! ---MODAL WINDOW--- */

    .modal-overlay {}

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px;
        width: 408px;
        min-height: 584px;

        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }

    /* клас що нижче означає - коли у класа .backdrop немає (:not) класу (.is-open), то для класу .modal застосовуються такі стилі  */
    .backdrop:not(.is-open) .modal {
        transform: translate(-50%, -50%) scale(1.5);
    }

    .modal-btn-close {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 24px;
        right: 24px;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;

        border: 1px solid rgba(0, 0, 0, 0.1);

        /* border-color: #e7e9fc; */
        background-color: #e7e9fc;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color, border-color, fill; */
    }

    .modal-btn-close:hover,
    .modal-btn-close:focus {
        background-color: #404bbf;
        border: none;
        fill: #fff;
    }

    .modal-icon-btn {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-icon-btn:hover,
    .modal-icon-btn:focus {
        fill: #fff;
    }

    .modal-text {
        margin-bottom: 16px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    /*! ФОРМА */

    .modal-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .modal-form-field {
        width: 100%;
        margin-bottom: 8px;
    }

    .modal-form-field:nth-child(4) {
        margin-bottom: 16px;
    }

    .modal-form-label {
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

        display: block;
    }

    .input-wrap {
        position: relative;
    }

    .modal-form-input {
        padding-left: 38px;
        padding-right: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        outline: transparent;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
    }

    .modal-form-input:hover,
    .modal-form-input:focus {
        border-color: #4d5ae5;
    }

    /* селектор сусіда */
    .modal-form-input:focus+.modal-icon {
        fill: #4d5ae5;
    }

    .modal-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);

        fill: #2e2f42;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-textarea {
        padding: 8px 16px;
        height: 120px;
        resize: none;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    }


    .modal-form-textarea::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    }

    .modal-checkbox-wrapper {
        margin-bottom: 24px;
    }

    .modal-check {}

    .modal-check-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, line-height, text-decoration;
    }

    .modal-check-span {
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;

        width: 16px;
        height: 16px;

        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color, border, fill;

        cursor: pointer;
    }

    .modal-check:checked+.modal-check-text span {
        background-color: #404bbf;
        fill: #f4f4fd;
        border: none;
    }


    .modal-check-icon {}

    .modal-check-link {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }

    .modal-form-button {
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

        display: block;
        margin: 0 auto;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;




        cursor: pointer;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-button:hover,
    .modal-form-button:focus {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #404bbf;
    }




    /* #endregion */